<mat-card>
    <mat-card-header>
        <mat-card-title>Cadastro de novas saídas</mat-card-title>
        <mat-card-subtitle>Cadastre aqui novas saídas</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <form [formGroup]="form" (ngSubmit)="salvar()">
        <div class="linha">
            <mat-form-field appearance="outline">
                <mat-label>Descrição</mat-label>
                <input matInput formControlName="nome">
                <mat-error *ngIf="!form.controls['nome'].valid">Campo <strong>obrigatório</strong></mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Quantidade de Parcelas</mat-label>
                <input type="number" matInput formControlName="qtdeParcelas" (blur)="toogleMarcarPago()">
                <mat-error *ngIf="!form.controls['qtdeParcelas'].valid">
                    Campo <strong>obrigatório</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Valor</mat-label>
                <input type="text" matInput currencyMask
                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', suffix: '' }" formControlName="valor">
                <mat-error *ngIf="!form.controls['valor'].valid">
                    Campo <strong>obrigatório</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Vencimento</mat-label>
                <input type="date" matInput formControlName="dataVencimento">
                <mat-error *ngIf="!form.controls['dataVencimento'].valid">
                    Campo <strong>obrigatório</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="linha">

            <mat-form-field appearance="outline" style="flex: 1;">
                <mat-label>Categoria</mat-label>
                <mat-select formControlName="classificacaoId">
                    <mat-option *ngFor="let item of listaCategorias" value="{{item.id}}">{{item.nome}}</mat-option>
                </mat-select>
                <mat-error *ngIf="!form.controls['classificacaoId'].valid">Campo <strong>obrigatório</strong></mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" style="flex: 3;">
                <mat-label>Observações</mat-label>
                <input matInput formControlName="obs">
                <mat-error *ngIf="!form.controls['obs'].valid">Campo <strong>obrigatório</strong></mat-error>
            </mat-form-field>
        </div>
        <div class="linha">
            <mat-form-field appearance="outline">
                <mat-label>Formas de Pagamento</mat-label>
                <mat-select formControlName="meioPagto" (selectionChange)="toogleComboCartoes()">
                    <mat-option value="cartao">Cartão de Crédito</mat-option>
                    <mat-option value="debito">Débito / Boleto</mat-option>
                </mat-select>
                <mat-error *ngIf="!form.controls['meioPagto'].valid">Campo <strong>obrigatório</strong></mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Cartões de Crédito</mat-label>
                <mat-select formControlName="cartaoSelecionado" [disabled]="isCartao">
                    <mat-option *ngFor="let cartao of listaCartoes" [value]="cartao.id">{{cartao.nome}}</mat-option>
                </mat-select>
                <!-- <mat-error *ngIf="!form.controls['cartaoSelecionado'].valid">Campo <strong>obrigatório</strong></mat-error> -->
            </mat-form-field>
        </div>
        <div class="linha">
            <div class="botoes-selecao radio-label">
                <mat-label>Marcar como pago? </mat-label>
                <mat-slide-toggle formControlName="pago" [disabled]="pago">
                </mat-slide-toggle>
            </div>
            <mat-form-field appearance="outline" style="max-width:400px; margin-left: 20px;" *ngIf="form.controls['pago'].value == true">
                <mat-label>Escolha uma Conta Bancária</mat-label>
                <mat-select formControlName="idConta">
                    <mat-option *ngFor="let item of listaContasBancarias" value="{{item.id}}">{{item.nome}}</mat-option>
                </mat-select>
                <mat-error *ngIf="!form.controls['idConta'].valid">Campo <strong>obrigatório</strong></mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-expansion-panel (opened)="avancado = true" (closed)="avancado = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Avançado
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                        {{avancado ? 'Clique para escondr' : 'Mostrar'}}
                    </mat-panel-description> -->
                </mat-expansion-panel-header>
                <div class="linha">
                    <div class="botoes-selecao radio-label">
                        <mat-label>Deseja associar essa saída a um devedor? </mat-label>
                        <mat-slide-toggle formControlName="associaDevedor" (change)="validaDevedor()">
                        </mat-slide-toggle>
                    </div>
                    <div *ngIf="form.controls['associaDevedor'].value">
                        <mat-form-field appearance="outline" style="width: 300px; margin-left: 50px;">
                            <mat-label>Selecione um devedor</mat-label>
                            <mat-select formControlName="devedorId">
                                <mat-option *ngFor="let devedor of listaDevedores" [value]="devedor.id">{{devedor.nome}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="linha">
                    <div class="botoes-selecao radio-label">
                        <mat-label>Deseja criar uma entrada automaticamente? </mat-label>
                        <mat-slide-toggle formControlName="criaEntrada" (change)="validaValorEntradaDevedor()">
                        </mat-slide-toggle>
                    </div>
                    <div *ngIf="form.controls['criaEntrada'].value">
                        <mat-form-field appearance="outline" style="width: 300px; margin-left: 50px;">
                            <mat-label>Valor</mat-label>
                            <input type="text" matInput currencyMask
                                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', suffix: '' }"
                                formControlName="valorEntrada">
                        </mat-form-field>
                    </div>
                </div>

            </mat-expansion-panel>
        </div>
        <div class="linha">
            <button mat-raised-button type="submit" color="primary"><i class="fal fa-save"></i> Salvar</button>
        </div>
        <p>{{form.value | json }}</p>
    </form>
</mat-card>