<div class="linha">
    <mat-form-field appearance="outline" style="flex: 1;">
        <mat-label>Tags</mat-label>
        <mat-chip-list #chipList aria-label="Seleção de Tag">
            <mat-chip *ngFor="let tag of tagsSelecionadas$ |async" (removed)="removeItemTag(tag)">{{tag.nome}}
                <button matChipRemove><mat-icon>cancel</mat-icon></button>
            </mat-chip>
            <input
                placeholder="Nova tag..."
                #tagInput
                matInput
                [formControl]="tagss"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="addNewTag($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let tag of filteredTags | async" [value]="tag.nome">
              {{tag.nome}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>
