mat-card{
    width: 95%;
    margin: 10px auto;
  }
  
  mat-form-field{
    width: 100%;
  }
  .content-detalhes{
    width: 100%;
}
.content-detalhes ul{
   font-size: 1.1em;
   display: flex;
   gap: 10px;
   justify-content: space-between;
}
.content-detalhes ul i{
   font-size: 1.5em;   
}

.subtitulos{
    margin: 30px 0 0 0;
}

table{
  width: 60%;
}