<h1 mat-dialog-title>Pagar Fatura</h1>
<div mat-dialog-content>
   <p>Deseja pagar a fatura do cartão {{data.cartao?.cartao}}?</p>
   <ul>
    <li>Total dessa fatura: {{fatura?.valor | currency: 'BRL'}}</li>
    <li>Data de Vencimento: {{fatura?.dataVenvimento | date: "shortDate"}}</li>
   </ul>
   <div class="radio">
       <mat-radio-group aria-label="Selecione uma opção" [(ngModel)]="pagamentoIntegral" (change)="setaValorPago()">
        <mat-radio-button value="1">Pagar Valor Integral</mat-radio-button>
        <mat-radio-button value="2">Pamgamento parcial</mat-radio-button>
      </mat-radio-group>   
   </div>
   <div *ngIf="pagamentoIntegral == '2'">
    <mat-form-field appearance="outline" style="width: 90%;">
        <mat-label>Valor Pago</mat-label>
        <input matInput [(ngModel)]="fatura!.valorPago" currencyMask
            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', suffix: '' }">
    </mat-form-field>
    <mat-checkbox class="example-margin" [(ngModel)]="gerarParcelaProximaFatura">Gerar parcela com a diferença para a proxima fatura</mat-checkbox>
   </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button (click)="pagar()">Salvar</button>
    <!-- <button mat-button [mat-dialog-close]="data" cdkFocusInitial *ngIf="data.parcela.valorPago != null && data.parcela.dataPagamento != null" >Pagar</button>     -->
</div>
