<h1 mat-dialog-title>Receber {{ data.entrada.nome}}</h1>
<div mat-dialog-content>
    <div class="radio">
        <mat-radio-group aria-label="Selecione uma opção" [(ngModel)]="recebeDefault" (change)="setaValorPago()">
            <mat-radio-button value="1">Usar esses dados</mat-radio-button>
            <mat-radio-button value="2">Personalizar valor e data</mat-radio-button>
        </mat-radio-group>
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Valor Esperado</mat-label>
            <input matInput [(ngModel)]="data.valor" disabled currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', suffix: '' }">
        </mat-form-field>
        <mat-form-field appearance="outline" style="margin-left: 10px;">
            <mat-label>Data Prevista</mat-label>
            <input type="date" matInput [(ngModel)]="data.dataPrevistaRecebimento" disabled>
        </mat-form-field>
    </div>
    <div *ngIf="recebeDefault == '2'">
        <mat-form-field appearance="outline">
            <mat-label>Entrada </mat-label>
            <input matInput [(ngModel)]="data.valorRecebido" currencyMask  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', suffix: '' }">
        </mat-form-field>
        <mat-form-field appearance="outline" style="margin-left: 10px;">
            <mat-label>Pago em</mat-label>
            <input type="date" matInput [(ngModel)]="data.dataRecebimento">
        </mat-form-field>
    </div>
      

    
        <mat-form-field appearance="outline" style="margin-left: 100px;">
            <mat-label>Selecione a Conta</mat-label>
            <mat-select>
                <mat-option *ngFor="let conta of listaContas" value={{conta.id}}>{{conta.nome}}</mat-option>
            </mat-select>
        </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="Cacenlar()">Cancelar</button>
    <button mat-raised-button type="submit" color="primary"><i class="fal fa-save"  (click)="Receber()"></i>Receber</button>
</div>