<h1 mat-dialog-title>Receber Entrada</h1>
<form [formGroup]="form" >
  <div class="linha">
      <mat-form-field appearance="outline">
          <mat-label>Valor</mat-label>
          <input type="text" matInput currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', suffix: '' }" formControlName="valor">
        </mat-form-field>

        <mat-form-field appearance="outline">
                <mat-label>Cartões de Crédito</mat-label>
                <mat-select formControlName="contaSelecionado">
                    <mat-option *ngFor="let conta of listaContas" [value]="conta.id">{{conta}}</mat-option>
                </mat-select>
            </mat-form-field>

  </div>

</form>

<div mat-dialog-actions>
  <button mat-button (click)="Cacenlar()">Cancelar</button>
  <button mat-raised-button type="submit" color="primary"><i class="fal fa-save" (click)="Receber()"></i>Receber</button>
</div>
