<div class="menu-meses">
    <ul>
        <li class="meses" *ngFor="let mes of menu" (click)="escutaMenuMeses(mes.id)">{{mes.mes}}</li>
    </ul>
</div>
<div>
    <table mat-table [dataSource]="itensLista" multiTemplateDataRows class="mat-elevation-z8" matSort>
        <ng-container matColumnDef="descricao">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Descrição
            </th>
            <td mat-cell *matCellDef="let item"> {{item.saida.nome}} </td>
        </ng-container>
    
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Status
            </th>
            <td mat-cell *matCellDef="let item"> {{item.situacao}} </td>
        </ng-container>

        <ng-container matColumnDef="Valor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Valor
            </th>
            <td mat-cell *matCellDef="let item"> {{item.valor | currency:"BRL"}} </td>
        </ng-container>

        <ng-container matColumnDef="Meio de Pagamento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Meio de Pagamento
            </th>
            <td mat-cell *matCellDef="let item">
                <span *ngIf="item.saida.meioPagto == 'cartao'" >{{item.fatura?.cartao.nome}}</span>
                <span *ngIf="item.saida.meioPagto == 'debito'" >Débito / Boleto</span>
                 </td>
        </ng-container>
    
        <ng-container matColumnDef="Data Pagamento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Data do Vencimento
            </th>
            <td mat-cell *matCellDef="let item"> {{item.dataVencimento | date: 'fullDate'}} </td>
        </ng-container>
    
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="colunasTabela.length">
                <div class="element-detalhes" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="icone-grande">
                        <i class="fal fa-box-check" *ngIf="element.situacao === 'Pago'" style="color: #00b248;"></i>
                        <i class="fal fa-box-usd" *ngIf="element.situacao === 'Aberto'" style="color: #3f51b5;"></i>
                        <i class="fal fa-box-fragile" *ngIf="element.situacao === 'Atrasado'" style="color: #f44336;"></i>
                        <span>Arrumar aqui</span>
                    </div>
                    <div class="descricao-detalhes">
                        <div class="lado-a">
                            <h2 style="margin-bottom: 0;"><strong>{{element.saida.nome}}</strong></h2>
                            <p>{{element.saida.obs}}</p>
                        </div>
                        <div class="lado-b">
                            <mat-card>
                               <p>Detalhes dos Vencimento</p>
                                <ul>
                                    <li><i class="fad fa-calendar-exclamation"></i> Vencimento: <i style="font-weight: 600;">{{element.dataVencimento | date:'shortDate'}}</i></li>
                                    <li><i class="fad fa-money-bill-alt"></i> Valor: <i style="font-weight: 600;">{{element.valor | currency:'BRL'}}</i></li>
                                    <li *ngIf="element.saida.meioPagto =='debito'"><i class="fad fa-file-invoice-dollar"></i> Forma Pagamento <i style="font-weight: 600;">Débito / Boleto</i></li>
                                    <li *ngIf="element.saida.meioPagto =='cartao'"><i class="fad fa-file-invoice-dollar"></i> Forma Pagamento <i style="font-weight: 600;">Cartão {{element.fatura.cartao.nome}}</i></li>
                                </ul>
                            </mat-card>
                            <mat-card *ngIf="element.situacao == 'Pago'">
                               <p>Detalhes dos Pagamento</p>
                                <ul>
                                    <li><i class="fad fa-calendar-exclamation"></i> Vencimento: <i style="font-weight: 600;">{{element.dataPagamento | date:'shortDate'}}</i></li>
                                    <li><i class="fad fa-money-bill-alt"></i> Valor: <i style="font-weight: 600;">{{element.valorPago | currency:'BRL'}}</i></li>
                                    <li *ngIf="element.conta != null"><i class="fad fa-money-bill-alt"></i> Debitado da Conta: <i style="font-weight: 600;">{{element.conta.nome }}</i></li>
                                    <li *ngIf="element.conta == null"><i class="fad fa-money-bill-alt"></i> Pago com o Cartão: <i style="font-weight: 600;">{{element.fatura?.cartao?.nome}}</i></li>
                                </ul>
                            </mat-card>
                        </div>
                    </div>
                    <div class="descricao-acoes">
                        <div class="botoes-acao">
                            <button mat-raised-button *ngIf="element.situacao != 'Pago'" (click)="openDialogSalvar(element.id)">Pagar</button>
                            <button mat-raised-button color="primary" (click)="abreDetalhes(element.id)">Detalhes</button>
                        </div>
                    </div>
                </div>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="colunasTabela"></tr>
        <tr mat-row *matRowDef="let element; columns: colunasTabela;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
</div>